{% load django_browser_reload %}
{% load static %}

<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="icon" href="data:image/svg+xml,&lt;svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22&gt;&lt;text y=%22.9em%22 font-size=%2290%22&gt;🔁&lt;/text&gt;&lt;/svg&gt;">
  <body>
    <h1>{{ title }}</h1>

    <h2 class="emoji">🦄</h2>

    <p><small><a href="/jinja/">Jinja version</a></small></p>

    {% django_browser_reload_script %}
  </body>
</html>
